*, *::before, *::after {
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
}

body, html {
    font-size: 15px;
    font-family: arial, helvetica, sans-serif;
    background-color: #FFEB3B;
}

h1 {
    margin: auto;
    font-weight: bold;
}

input[type='text'] {
    margin: 0.5em auto;
    width: 100%;
    height: 1em;
    font-size: 1.2em;
    background: #FFF;
    padding: 1em 0.5em;
    outline: none;
    border: none;
    color: #FF5252
}

label {
    font-size: 0.8rem;
}

:-webkit-autofill {
    color: #f8f230 !important;
}

input[type='text']:focus {
    color: dark-grey;
    outline: #000 solid;
}

#submit {
    position: relative;
    padding: 0.5em 0.5em;
    color: #fff;
    width: 60%;
    background: #444;
/*     border-radius: 0.2em; */
    border: none;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.2s;
}

#submit:hover {
    background: #333;
    cursor: pointer;
}

#submit:focus {
    background: #FFF;
    color: #000;
    cursor: pointer;
    outline: none
}

.mega-container {
    max-width: 30em;
    width: 100%;
    margin: auto;
    padding: 1em;
    text-align: center;
/*     border: 1px solid pink; */
}

.field-group {
/*     background-color: dark-grey; */
    margin: 1em auto;
    width: 100%;
    display: inline-block;
    min-width: 10em;
    text-align: left;
}

.results {
    text-align: left;
}