*, *::before, *::after {
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
}

body, html {
    font-family: arial, helvetica, sans-serif;
    background-color: #FFEB3B;
}

h1 {
    margin: auto;
    font-weight: bold;
}

label {
    font-size: 0.8em;
    display: block;
}

input {
    margin: 0.5em auto;
    width: 100%;
    height: 1em;
    font-size: 1.2em;
    background: #FFF;
    padding: 1em 0.5em;
    outline: none;
    border: none;
}

:-webkit-autofill {
    color: #f8f230 !important;
}

input:focus {
    color: dark-grey;
    outline: #000 solid;
}

.valid-station {
    border-bottom: solid green;
    box-sizing: border-box;
}

.invalid-station {
    border-bottom: solid red;
}

#submit {
    position: relative;
    padding: 0.5em 0.5em;
    color: #fff;
    width: 60%;
    height: 100%;
    min-width: 10em;
    background-color: rgba(255, 82, 82, 100);
/*     border-radius: 0.2em; */
    border: none;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.2s;
    cursor: pointer;
}

#submit:hover:not(:focus) {
    background: rgba(255, 255, 255, 50);
    color: #000;
}

#submit:focus {
    background: rgba(255, 82, 82, 10);
}

.mega-container {
    max-width: 30em;
    width: 100%;
    margin: auto;
    padding: 1em;
    text-align: center;
}

.field-group {
    margin: 1em auto;
    width: 100%;
    display: inline-block;
    min-width: 10em;
    text-align: left;
}

.results {
    text-align: left;
}

.train {
    background: #FFF;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.1rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.12), 0 0.05rem 0.1rem rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.train:hover {
    box-shadow: 0 7px calc(28px/2) rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.train-no {
    display: block;
    float: left;
}

.train-text {
    display: block;
    float: right; 
}