*, *::before, *::after {
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
}

body, html {
    font-family: arial, helvetica, sans-serif;
    background-color: #FFEB3B;
}

h1 {
    margin: auto;
    font-weight: bold;
}

label {
    font-size: 0.8em;
    display: block;
    margin-bottom: 0.5em;
}

input {
    margin: auto;
    width: 100%;
    height: 1em;
    font-size: 1.2em;
    background: #FFF;
    padding: 1em 0.5em;
    /*outline: none;*/
    border: none;
    border-bottom: solid transparent 0.2em;
    border-top: solid transparent 0.2em;
}

:-webkit-autofill {
    color: #f8f230 !important;
}

input:focus {
    color: dark-grey;
    outline: #000 solid 0.2em;
}

.valid-station {
    border-bottom: solid green 0.2em;
}

.invalid-station {
    border-bottom: solid red 0.2em;
}

#submit {
    position: relative;
    padding: 0.5em 0.5em;
    color: #fff;
    width: 60%;
    height: 100%;
    min-width: 10em;
    background-color: rgba(255, 82, 82, 100);
    /*border-radius: 0.2em; */
    border: none;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.2s;
    cursor: pointer;
}

#submit:hover:not(:focus) {
    background: rgba(255, 255, 255, 50);
    color: #000;
}

#submit:focus {
    background: rgba(255, 82, 82, 10);
}

.mega-container {
    max-width: 30em;
    width: 100%;
    margin: auto;
    padding: 1em;
    text-align: center;
}

.field-group {
    margin: 1em auto;
    width: 100%;
    display: inline-block;
    min-width: 10em;
    text-align: left;
}

.train {
    max-width: 30em;
    background: #FFF;
    margin: 1rem auto 1rem auto;
    border-radius: 0.1rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.12), 0 0.05rem 0.1rem rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.train:hover {
    box-shadow: 0 7px calc(28px/2) rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

/* ONLY FOR CODEPEN TESTING/DESIGNING */
#codepen-container {
  width: 40em;
}

.trainno {
    float: right;
}

.status-line {
  display: block;
  padding: 0.2em;
  text-align: center;
  font-family: monospace;
}

.on-time .status-line {
    background-color: #76f329;
}

.late .status-line {
  background-color: orange;
}

.unknown .status-line {
    background-color: grey;
}

.cancelled .status-line {
    background-color: red;
}

.late tbody tr:not(.new) td, .cancelled tbody tr:not(.new) td {
  text-decoration: line-through;
}

th {
    padding: 0.5em;
    font-size: 0.8rem;
    font-weight: 400;
}

td {
    padding: 0 0 0.5em;
    font-size: 2rem;
    font-family: monospace;
}

tr {
    text-align: center;
}

p.station-name {
    padding: 0;
    margin: 0.5rem 0 0 0;
    font-weight: bold;
    font-size: 1.1rem;
}

.results {
    padding-top: 0.5em;
}

.alert {
    border: 2px solid black;
    width: 100%;
    max-width: 25em;
    background-color: white;
    padding: 0.5em;
    margin: 1em auto;
}